<h1>Listing users</h1>

<table>
  <tr>
    <th>Netid</th>
    <th>Lastname</th>
    <th>Firstname</th>
    <th>Fullname</th>
    <th>Admin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.netid %></td>
    <td><%= user.lastname %></td>
    <td><%= user.firstname %></td>
    <td><%= user.fullname %></td>
    <td><%= user.admin %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
