<% content_for(:head) do %>
  <meta name="viewport" content="width=480, user-scalable=no">
<% end %>

<h2 class="page_header"><%=t 'meeting.edit_title' %></h2>
<div class="navigation_link_back">
  <% if use_mobile_template? %>
    <%= link_to "< #{t('general.back')}", @meeting %>
  <% else %>
    <%= link_to "< #{t('general.back')}", @meeting.section %>
  <% end %>
</div>
<%= form_for(@meeting) do |f| %>
  <%= render 'errors' %>
  <%= render 'starttime' %>
  <div class="submit float">
    <%= f.submit 'Save session' %>|
  </div>
<% end %>

<%# Button that will cancel/un-cancel a meeting %>
<%= form_for(@meeting) do |f| %>
  <%= hidden_field(:meeting, :cancelled, {value: !@meeting.cancelled}) %>
  <div class="submit float">
    <%= f.submit (@meeting.cancelled ? t('meeting.reactivate_session') : t('meeting.cancel_session')) %>|
  </div>
<% end %>

<%# Button that will soft delete a meeting %>
<%= form_for(@meeting) do |f| %>
  <%= hidden_field(:meeting, :deleted, {value: 'true'}) %>
  <div class="submit float">
    <%= f.submit t('meeting.delete_session') %>
  </div>
<% end %>
