<h1>Listing meetings</h1>

<table>
  <tr>
    <th>Site</th>
    <th>Starttime</th>
    <th>Cancelled</th>
    <th>Deleted</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meetings.each do |meeting| %>
  <tr>
    <td><%= meeting.site_id %></td>
    <td><%= meeting.starttime %></td>
    <td><%= meeting.cancelled %></td>
    <td><%= meeting.deleted %></td>
    <td><%= meeting.updated_at %></td>
    <td><%= link_to 'Show', meeting %></td>
    <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
    <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Session', new_meeting_path %>
