<% content_for(:head) do %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
<% end %>
<h2 class="page_header">New Session</h2>
<div class="navigation_link_back"><%= link_to '< Back', @section %></div>
<%= form_for [@section, @meeting] do |f| %>
  <%= render 'errors' %>
  <%= render 'starttime' %>
  <div class="initialtype">
    <span>Mark all active students as:</span>
    <% @attendancetypes.each do |atype| %>
      <span class="type-radio">
        <input type="radio" id="initial-<%= atype.id %>" name="initial_atype" value="<%= atype.id %>" data-atype-name="<%= atype.name %>" <%= atype.default_type ? 'checked="checked"' : '' %>/>
        <label for="initial-<%= atype.id %>"><%= atype.name %></label>
      </span>
    <% end %>
  </div>
  <div class="submit"><%= f.submit 'Create Session' %></div>
<% end %>
