<% content_for(:head) do %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
<% end %>
<header>
  <%= link_to "< #{t('general.back')}", @section %>
  <h2 class="page_header"><%=t 'meeting.new_title' %></h2>
</header>
<%= form_for [@section, @meeting] do |f| %>
  <%= render 'errors' %>
  <div>
    <p>
      <%= render 'starttime' %>
    </p>
    <% if @meeting.section.site.enable_code %>
      <p>
        <input type="checkbox" id="generate_code" name="generate_code" />
        <label for="generate_code">Create checkin code</label>
      </p>
    <% end %>
    <p>
      <span id="initialtype-label"><%=t 'meeting.mark_as' %>:</span>
      <select name="initial_atype">
        <% @attendancetypes.each do |atype| %>
          <option value="<%= atype.id %>" <%= atype.default_type ? 'selected' : '' %>><%= atype.name %></option>
        <% end %>
      </select>
    </p>
    <%= f.submit 'Create Session', class: 'linkbutton' %>
  </div>
<% end %>
