<% content_for(:javascript) do %>
  var attendancetype_colors = {
    <%= @attendancetypes.map { |atype| "#{atype.id} : '#{atype.color.downcase}'" }.join(", ").html_safe %>
  };
  var updated_at = <%= Time.now.to_i * 1000 %>;
<% end %>

<%= render 'csv_dialog' %>

<header id="site-header">
  <h1>Attendance for <%= @section.useful_name %></h1>
  <% if @section.site.sections.count > 1 %>
      <%= link_to "Change Section", site_path(@section.site), class: 'change-section' %>
  <% end %>
</header>
<div id="site-actions">
  <%= link_to new_section_meeting_path(@section), :class => 'linkbutton' do %>
      <i class="fa fa-plus"></i><%= t('buttons.add_session') %>
  <% end %>
  <%= link_to totals_section_path(@section), :class => 'linkbutton' do %>
      <i class="fa fa-table"></i><%= t('buttons.view_totals') %>
  <% end %>
  <% if @num_cancelled_meetings > 0 && !@force_show_cancelled %>
      <a id="toggle_cancelled" href="#" class="linkbutton"><i class="fa fa-eye"></i><%=t 'buttons.show_cancelled' %></a>
  <% end %>
  <a class="linkbutton" id="download-csv" href="javascript:void(0)"><i class="fa fa-download"></i><%= t('buttons.download_csv') %></a>
  <% if @auth_user.edit_gradesettings?(@section.site) %>
      <%= link_to edit_settings_site_path(@section.site), class: 'linkbutton' do %>
          <i class="fa fa-cog"></i><%= t('buttons.site_settings') %>
      <% end %>
  <% end %>
</div>
<% if @meetings.empty? %>
  <p><%=t 'section.no_sessions', add_session: t('buttons.add_session') %></p>
<% else %>
<%= form_for(@section, :url => {:action => 'record_attendance'}, :method => :post, :html => {:id => 'site_attendance', :class => 'site_attendance'}) do |f| %>
<div id="site-table-container">
<div id="header-container">
<div id="table-name-head">
<table>
  <thead>
    <tr><th style="height: 47px;"><%=t 'general.name' %></th></tr>
  </thead>
</table>
</div>
<div id="table-head">
<table>
<thead>
  <tr>
    <% @meetings.each_with_index do |meeting, index| %>
      <th class="<%= meeting.cancelled && !@force_show_cancelled ? 'cancelled' : '' %> <%= index == 0 ? 'first_col' : '' %>" data-meeting-id="<%= meeting.id %>">
        <div class="start-header"><%= meeting.starttime.strftime('%^b %-d at %l:%M%P') %>
          <%= link_to '', edit_meeting_path(meeting), class: 'fa fa-pencil', title: 'Edit session and record attendance' %>
        </div>
          <div class="code-div">
            <button type="button" class="code-action" data-code="<%= meeting.checkin_code %>" title="Show checkin code">
              <i class="fa fa-th-large"></i>
              <span><%= meeting.checkin_code.blank? ? 'Add' : 'Show' %> Checkin Code</span>
            </button>
          </div>
      </th>
      <% if @show_checkin_col[meeting.id] %>
        <th class="checkin-col"><i class="fa fa-clock-o" title="Checkin time"></i></th>
      <% end %>
    <% end %>
  </tr>
</thead>
</table>
</div>
</div>
<div id="body-container">
<div id="table-names">
<table>
<tbody>
  <% started_inactives = false %>
  <% started_moved = false %>
  <% @attendances.each do |membership_id, ua_hash| %>
    <% if !started_inactives && !ua_hash.values.first.membership.active %>
      <tr class="separator inactive-separator">
        <th><%=t 'general.inactive' %> <span id="expand-inactives">+</span></th>
      </tr>
      <% reset_cycle() %>
      <% started_inactives = true %>
    <% end %>
    <% if !started_moved && !ua_hash.values.first.membership.sections.include?(@section) %>
      <tr class="separator moved-separator">
        <th><%=t 'general.moved' %> <span id="expand-moved">+</span></th>
      </tr>
      <% reset_cycle() %>
      <% started_moved = true %>
    <% end %>
    <tr class="<%= cycle('odd', 'even') %> <% if started_moved %> <%='moved' %> <% elsif started_inactives %> <%= 'inactive' %> <% end %>">
      <td class="name"><a class="<%= @show_remove_user_link ? 'next-to-remove' : '' %>" href="<%= section_membership_path(@section, membership_id) %>" title="<%= ua_hash.values.first.membership.user.fullname %>"><%= ua_hash.values.first.membership.user.fullname %></a>
      <%= if @show_remove_user_link then
            link_to section_membership_remove_from_section_path(@section, membership_id), :class => 'remove-user-link' do
              image_tag "cross.png", :alt => t('section.remove_user')
            end
          end %></a></td>
    </tr>
  <% end %>
  <% reset_cycle() %>
</tbody>
</table>
</div>
<div id="table-main">
</table>
<table>
<tbody>
  <% started_inactives = false %>
  <% started_moved = false %>
  <% @attendances.each do |membership_id, ua_hash| %>
      <% if !started_inactives && !ua_hash.values.first.membership.active %>
        <tr class="separator inactive-separator">
        <% @meetings.each do |meeting| %>
          <th class="<%= 'cancelled' if meeting.cancelled && !@force_show_cancelled %>">&nbsp;</th>
          <% if @show_checkin_col[meeting.id] %> <th class="checkin-col"></th><% end %>
        <% end %>
        </tr>
        <% reset_cycle() %>
        <% started_inactives = true %>
      <% end %>
      <% if !started_moved && !ua_hash.values.first.membership.sections.include?(@section) %>
        <tr class="separator moved-separator">
          <%@meetings.each do |meeting| %>
            <th class="<%= 'cancelled' if meeting.cancelled && !@force_show_cancelled %>">&nbsp;</th>
            <% if @show_checkin_col[meeting.id] %> <th class="checkin-col"></th><% end %>
          <% end %>
        </tr>
        <% reset_cycle() %>
        <% started_moved = true %>
      <% end %>
      <tr class="<%= cycle('odd', 'even') %> <% if started_moved %> <%='moved' %> <% elsif started_inactives %> <%= 'inactive' %> <% end %>">
      <% @meetings.each_with_index do |meeting, index| %>
        <% ua = ua_hash[meeting.id] %>
        <td class="attendancetype <%= meeting.cancelled && !@force_show_cancelled ? 'cancelled' : '' %> <%= index == 0 ? 'first_col' : '' %>">
          <% if ua %>
            <% if meeting.active %>
              <select class="hidden-select" name="meeting-<%= meeting.id %>_member-<%= membership_id %>">
              <% @attendancetypes.each do |atype| %>
                <option class="atype" value="<%= atype.id %>" <%= atype.id == ua.attendancetype_id ? 'selected' : '' %>><%= atype.name %></option>
              <% end %>
              </select>
              <span class="select-span" aria-hidden="true">
                <i class="fa fa-caret-down select-arrow"></i>
                <span class="select-span-text" style="color: <%= ua.attendancetype.color %>;"><i class="fa <%= @icons[ua.attendancetype_id-1] %>"></i><%= ua.attendancetype.name %></span>
              </span>
            <% else %>
              cancelled
            <% end %>
          <% else %>
            &nbsp;
          <% end %>
        </td>
        <% if @show_checkin_col[meeting.id] %>
          <td class="checkin-col">
            <% if ua && ua.checkins.any? %>
              <span <% if ua.override %>class="override" title="Recorded changed after checkin"<% end %>>
                <%= ua.checkins.first.time.strftime('%l:%M%P').strip %>
              </span>
            <% end %>
          </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</tbody>
</table>
</div>
</div>
</div>
<input type="submit" name="submit" value="Save"/>
<% end %>
<% end %>
