<% @siteroles.each do |siterole| %>
  <%= f.fields_for :siteroles, siterole do |sr| %>
    <div class="roles-config">
      <h4><%= siterole.role.displayname %></h4>
      <%= sr.check_box :take_attendance, :title => "Allow #{siterole.role.displayname} to record attendance", :disabled => siterole.set_permissions? %>
      <%= sr.label :take_attendance, 'takes attendance' %>
      <%= sr.check_box :record_attendance, :title => "Track attendance for #{siterole.role.displayname}" %>
      <%= sr.label :record_attendance, 'has attendance tracked' %>
      <%= sr.check_box :edit_gradesettings, :title => "Allow #{siterole.role.displayname} to edit settings", :disabled => siterole.set_permissions? %>
      <%= sr.label :edit_gradesettings, 'edits settings' %>
    </div>
  <% end %>
<% end %>
