<% content_for(:head) do %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
<% end %>

<header>
  <%= link_to "< #{t('general.back')}", session[:return_to] %>
  <h1 class="page_header">
    <%=t 'settings.title', site_title: @site.context_name %>
  </h1>
</header>
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<% if @site.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@site.errors.count, "error") %> prohibited settings from being saved:</h2>

    <ul>
      <% @site.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@site, url: {action: :update_settings}, method: :post, html: {id: 'update_settings', class: 'update_settings'}) do |f| %>
  <div class="settings-section">
    <h3>Checkin settings</h3>
    <div class="control-group">
      <%= render 'checkin_settings', f: f %>
    </div>
  </div>
  <% if @site.outcomes_url && @auth_user.edit_gradesettings?(@site) %>
    <div class="settings-section">
      <h3>Grade settings</h3>
      <div class="control-group">
        <%= render 'grade_settings', settings: @site.gradesettings, f: f %>
      </div>
    </div>
  <% end %>
  <div class="settings-section">
    <h3>Roles</h3>
    <div class="control-group">
      <%= render 'role_settings', f: f %>
    </div>
  </div>
  <%= f.submit 'Save settings', class: 'linkbutton' %>
<% end %>
