<% content_for(:head) do %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
<% end %>
<h2 class="page_header">
  <%=t 'settings.title', site_title: @site.context_name %>
</h2>
<div class="navigation_link_back"><%= link_to "< #{t('general.back')}", session[:return_to] %></div>
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<% if @site.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@site.errors.count, "error") %> prohibited settings from being saved:</h2>

    <ul>
      <% @site.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@site, url: {action: :update_settings}, method: :post, html: {id: 'update_settings', class: 'update_settings'}) do |f| %>
  <div class="settings-section">
    <h3 class="section-header">Checkin settings</h3>
    <%= render 'checkin_settings', f: f %>
  </div>
  <% if @site.outcomes_url && @auth_user.edit_gradesettings?(@site) %>
    <div class="settings-section">
      <h3 class="section-header">Grade settings</h3>
      <%= render 'grade_settings', settings: @site.gradesettings, f: f %>
    </div>
  <% end %>
  <% if @auth_user.set_permissions?(@site.id) %>
    <div class="settings-section">
      <h3 class="section-header">Roles</h3>
      <%= render 'role_settings', f: f %>
    </div>
  <% end %>
  <%= f.submit 'Save settings' %>
<% end %>
